body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header
{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: lemonchiffon;
    color: orange;
}

main
{
    margin-top: 100px;
    background-color: lightgray;
    padding: 20px;
    height: calc(100vh - 150px);
}

footer
{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    position: fixed;
    background-color: lightsteelblue;
    padding-left: 20px;
    color: white;
    line-height: 50px;
}

img
{
    height: 80px;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
}

h1
{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    margin-left: 100px;
    line-height: 20px;
    vertical-align: middle;
    margin-top: 20px;
}

div.container
{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "window window window window window"
        "num1 num2 num3 num4 num5"
        "num6 num7 num8 num9 num0"
        "reset reset reset reset reset";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: wheat;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.window
{
    width: 1fr;
    height: 50px;
    background-color: white;
    border: 1.5px solid black;
    grid-area: window;
    font-size: 15px;
}

a
{
    display: block;
    text-decoration: none;
    color: inherit;
}

.num
{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: lightgray;
    border: 1.5px solid black;
    font-size: 20px;
}

.reset
{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: lightgray;
    border: 1.5px solid black;
    grid-area: reset;
}

.item
{
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.num:nth-child(2)
{
    grid-area: num1;
}

.num:nth-child(3)
{
    grid-area: num2;
}

.num:nth-child(4)
{
    grid-area: num3;
}

.num:nth-child(5)
{
    grid-area: num4;
}

.num:nth-child(6)
{
    grid-area: num5;
}

.num:nth-child(7)
{
    grid-area: num6;
}

.num:nth-child(8)
{
    grid-area: num7;
}

.num:nth-child(9)
{
    grid-area: num8;
}

.num:nth-child(10)
{
    grid-area: num9;
}

.num:nth-child(11)
{
    grid-area: num0;
}